.navbar-brand {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #414959;
  padding-bottom: 0px;
  padding-top: 5px;
}

.navbar-img {
  margin-bottom: 16px;
}

.navbar {
  background-color: #00A093;
}

.navbar-padding {
  padding-top: 10px;
}

#topLine {
    background-color: #6CE9D2;
    height: 10px;
}

#footer {
    background-color: #00A093;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#footer-text{
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

#main {
  min-height: 700px
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 36px;
  margin-bottom: 40px;  
}

h2 {
  margin-top: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;  
  color: #00A093;
}

#parameter-rectangle {
  border-radius: 15px;
  width:100%;
  border:2px solid #00A093;
}

#parameters {
  margin: 14px;

}

#parameters-text {
  margin-bottom: 10px;
}

.badge{
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
  margin-right:6px;
}

#course {
  background-color: #999999;
}

#flag {
  width: 40px;
  height: 30px;
  border-radius: 8px;
  float: right;
}