.navbar-brand {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #414959;
  padding-bottom: 0px;
  padding-top: 5px;
}

.navbar-img {
  margin-bottom: 16px;
}

.navbar {
  background-color: #00A093;
}

.navbar-padding {
  padding-top: 10px;
}

.btn-cover {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  color: #ffffff;
  margin: 50px;
  padding-top: 55px;
}

.btn:hover {
  color: #414959;
}

#add-button{
  background-color: #6CE9D2;
}

#search-button{
  background-color: #B9737A;
}

#edit-button{
  background-color: #999999;
}

#topLine {
    background-color: #6CE9D2;
    height: 10px;
}

#footer {
    background-color: #00A093;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#footer-text{
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

#main {
  min-height: 650px
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #414959;
}

h1 {
  text-align: center;
  margin-top: 44px;
  font-family: 'Courgette', cursive;
  font-size: 40px;
  margin-bottom: 46px;  
  color: #414959;
}

h2 {
  margin-top: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;  
  color: #00A093;
}

h5 {
  font-family: 'Noto Sans KR', sans-serif;  
}

#parameter-rectangle {
  border-radius: 15px;
  border:2px solid #00A093;
  margin-bottom: 60px;
}

#parameters {
  margin: 14px;
}

#parameters-text {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

#parameter-image {
  margin-bottom: 3px;
}

#parameter-value {
  margin-right: 10px;
}

.badge{
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
  margin-right:6px;
}

#course {
  background-color: #999999;
}

#flag {
  width: 40px;
  height: 30px;
  border-radius: 8px;
  float: right;
}

#instructions {
  width: 100%;
  clear: both;
  padding-top: 40px;
}

#instruction-steps {
  font-size: 20px;
}

#ingredients-image {
  border-radius: 15px;
  background-color: #f0f0f0;
  font-size: 20px;
  padding-right: 15px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 40%; 
  float:right;
}

#ingredient {
  padding-left: 10px;
  width: 40%; 
  float:left;
  padding-bottom: 10px;
}

#ingredient-quantity {
  width: 40%; 
  float:right;
  font-weight: 600;
  padding-bottom: 10px;

}

#photo {
    border-radius: 15px;
    width: 600px;
}

#instruction-text{
  width: 95%;
  float:right;
    padding-bottom: 34px;

}

#instruction-number{
  margin-left: 10px;
  width: 3%;
  float:left;
  padding-bottom: 34px;
  font-size: 24px;
  font-weight: 600;

}

#bonappetit{
  color: #414959;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  text-align: center;
}

#row-card {
   display: flex;
   flex-wrap: wrap;
}

#row-card > div[class*='col-'] {
  display: flex;
}

#col-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 25px;
  padding-left: 25px;
}

#recipe-card{
  border-radius: 15px;
  border:2px solid #00A093;
}

#image-card{
  border-top-left-radius: 13px;
 border-top-right-radius: 13px;
}

#a-card,
#a-card:hover {
  color: inherit;
  text-decoration: none;
}

.card-title {
    margin-bottom: 0rem;
}

.card-body {
    padding: 1.00rem;
}

#card-labels {
  margin-bottom: 0px;
  padding: .75rem 0.75rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#button-brown{
  background-color: #B9737A;
  color: #ffffff;
  border-color: #B9737A;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 12px;
  padding: 12px;
  padding-top: 10px;
  font-size: 20px;
}

#button-green{
  background-color: #6CE9D2;
  color: #ffffff;
  border-color: #6CE9D2;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 12px;
  padding: 12px;
  padding-top: 10px;
  font-size: 20px;
}

#button-add{
  font-size: 16px;
  border-radius: 12px;
  padding: 2px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #999999;
  color: #ffffff;
  border-color: #999999;
  font-family: 'Noto Sans KR', sans-serif;
  height: 30px;
}

#button-brown:hover {
  color: #414959;
}

#button-green:hover {
  color: #414959;
}

.form-group{
  margin-bottom: 2rem;
}

#step-label{
  font-size: 20px;
  margin-left: 24px;
  font-weight: bold;
}