{% extends 'basic.html' %} 
{% block 'body' %}

  {% load static %}

  <h1>{{recipe.name}}</h1>

  <div id="parameter-rectangle">
    <div id="parameters">
          <div id="parameters-text"> Serving: {{recipe.servings}} - Preparation: {{recipe.preparation_time}} - Cost: {{recipe.cost}}
          <img id="flag" src={% static 'images/flags/be.svg' %}>
          </div>
          <div>
            <span class="badge badge-secondary" id="course">{{recipe.course}}</span>
            {% for label in recipe.labels %}
              <span class="badge badge-secondary" style="background-color: {{label.colour.hex}}">{{label.name}}</span>
            {% endfor %}
          </div>
    </div>
  </div>

  <div class="row" id="ingredients-image">
    <div class="column" style="width: 60%; float:left">
    </div>

    <div class="column" style="width: 40%; float:right">
        <h2>Ingedients</h2>
        {% for entry in recipe.ingredientlist %}
            <li>{{entry.ingredient}} {{entry.quantity}} {{entry.unit}}</font></li>
        {% endfor %}
    </div>
  </div>

  <div id="instructions">


  <h2>Instructions</h2>
  <ol>
  {% for step in recipe.steps %}
      <li>{{step.instruction}}</font></li>
  {% endfor %}
  </ol>
  </div>



{% endblock %}