{% extends 'basic.html' %} 
{% block 'body' %}

  <h1>{{recipe.name}}</h1>

  <p>Serving: {{recipe.servings}}</p>

  <p>Cuisine: {{recipe.cuisine}}</p>
  <p>Course: {{recipe.course}}</p>

  <p>Preparation: {{recipe.preparation_time}}</p>
  <p>Cost: {{recipe.cost}}</p>

  <p>Labels</p>
  {% for label in recipe.labels %}
      <li><font color={{label.colour.hex}}>{{label.name}}</font></li>
  {% endfor %}

  <p>Instructions</p>
  <ol>
  {% for step in recipe.steps %}
      <li>{{step.instruction}}</font></li>
  {% endfor %}
  </ol>

  <p>Ingedients</p>
  {% for entry in recipe.ingredientlist %}
      <li>{{entry.ingredient}} {{entry.quantity}} {{entry.unit}}</font></li>
  {% endfor %}

{% endblock %}