{% extends 'basic.html' %} 
{% block 'body' %}

<h1>Search recipe</h1>

<form action="{% url 'result' %}" method="post">
{% csrf_token %}
  <div class="form-group">
    <h2>Recipe/Ingredients</h2>
    <input type="text" name="text" class="form-control" placeholder="Enter recipe or ingredient(s)">
  </div>
  
  <div class="form-group">
    <h2>Course</h2>
    <select multiple class="form-control" name="courses">
    {% for entry in courses.list %}
      <option>{{entry.name}}</option>
      {% endfor %}
    </select>
  </div>
  
  <div class="form-group">
    <h2>Cuisine</h2>
    <select multiple class="form-control" name="cuisines">
    {% for entry in cuisines.list %}
      <option>{{entry.name}}</option>
      {% endfor %}
    </select>
  </div>
  
  <div class="form-group">
    <h2>Label</h2>
    <select multiple class="form-control" name="labels">
    {% for entry in labels.list %}
      <option>{{entry.name}}</option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-primary" id="button-brown">Search</button>

</form>
<br>
<br>
{% endblock %}
